/* 헤더 영역 */
.nav{
    position: sticky;
    top: 0;
    border-bottom: 1px solid #ddd;
    z-index:10;
    /* 맨 앞으로 맨뒤로를 나타냄 10: 맨 앞 -10:맨뒤 */ 
}

/* 헤더 안에 내용물 */
.nav-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* 두 콘텐츠를 현재 주어진 영역 내 자동으로 fill로 채워지는 것(피그마 fill랑 원리 비슷) */
    padding: 20px 0;
    margin: 0 40px;
}

.logo{
    font-weight: 800;
    font-size: 24px;
    color:#292929;
    text-decoration: none; /* 링크 밑줄 사라짐! */
}

/* 메뉴 안에서의 공간 */
.menu{
    display: flex;
    align-items: center;
    gap:20px;

}

.menu a{
    color: #a0a0a0;
    text-decoration: none; /* 링크 밑줄 사라짐! */
}
/* 메뉴 호버 시 */
.menu a:hover{
    color:#292929;
}

/* 히어로 섹션 */
.hero{
    align-items: center;
    height: 400px;
    justify-items: center;
    padding: 50px 0;
}

.hero-title{
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

.hero-text{
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}

/* 프로젝트 카드 */
.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr); /*3개를 1:1:1로 배치하는 것*/
    gap: 16px;
}

.work-card img{
    height: 260px;
    width: 100%;
}

.work-body h3{
    font-size: 24px;
    margin: 16px 0 0 0;
}
/* 카드에 호버했을때 애니메이션 */
.work-card:hover{
    transform: translateY(-4px);
    transition: 0.15s ease;
}

/* footer */
.footer{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.links{
    display: flex;
    gap:20px;
}

.links a{
    color:#a0a0a0;
    text-decoration: none;
}

.links a:hover{
 color:#292929;
}